* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    background-color: wheat;
}

input[type=button] {
    background-color: rgb(83, 156, 224);
    color: white;
    font-size: 1.3em;
    padding: 0.3em 0.5em;
    border-radius: 10%;
    margin: 15px 0;
    text-transform: uppercase;
}

ul {
    width: 70%;
    margin: auto;
}

li {
    display: inline-block;
    height: 100px;
    width: 100;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/wild_oliva.png);
    border-radius: 10px;
    margin: 3px;
}
img {
    visibility: hidden;
}
